body{
    background-color: rgb(252, 250, 229);
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 3px;

}

nav ul{
      display: flex;
      gap: 30px;
      font-size: 25px;
      margin-right: 5%;
}

ul li{
    list-style: none;
    
}

a{
    text-decoration: none;
}

.logo{
    margin-left: 3%;
    
}